@import "src/styles/daily_details.scss";

.description_container {
  @include section_global();
  @include xOverflow();
  width: 100%;

  & > .details_raiser {
    @include flex_row();
    align-items: center;
    margin-block-end: 1rem;
    & .details_raiser_sun-container,
    .details_raiser_moon-container {
      display: flex;
      flex-direction: row;
      margin-inline-end: 1rem;
      align-items: center;
      gap: 1rem;
      .rise,
      .set {
        display: flex;
        flex-direction: column;
        & > span:first-child {
          color: lightgray;
          text-transform: uppercase;
          font-size: 80%;
        }
      }
    }
  }
}
