@use "/src/styles/mixins";
@use "/src/styles/breakpoints";

.chart_container {
  @include mixins.flex_row();
  @include mixins.xOverflow();
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0rem 1rem;
  & > .chart {
    position: relative;
    min-height: unset;
    width: 100%;
    max-width: 1000px;

    @include breakpoints.giant_desktop {
      max-width: 1500px;
    }
  }
}
