@use "/src/styles/breakpoints";

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin section_global {
  color: var(--lightGray);
  overflow: hidden;
  position: relative;
  padding: 1rem;
  background: var(--glassyBlue);
  box-shadow: 0 0 15px 0 var(--mediumBlue);
  border-radius: 10px;
  border: 1px solid var(--gray);
}

@mixin grid_forecastOverview {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) auto;
  @include breakpoints.desktop {
    grid-template-columns: minmax(350px, 500px) auto;
  }
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "overviewCity forecastCity"
    "overviewForecast forecastCity";
}

@mixin section_container_small {
  @include flex_column;
  @include section_global;
}

@mixin section_container_tablet {
  @include section_global;
}

@mixin xOverflow() {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 10px;
    width: 100%;
  }

  @include scrollBar();
}

@mixin yOverflow() {
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 100%;
    width: 10px;
  }

  @include scrollBar();
}

@mixin scrollBar {
  &::-webkit-scrollbar-thumb {
    background-color: var(--grayBlue);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--deepBlue);
  }
}

@mixin caretDisplay() {
  & > .to_forward::before {
    font-family: "fontawesome";
    content: "\f107";
    margin-right: 0.5rem;
    @include breakpoints.landscape_tablet {
      padding: 0rem 0.5rem;
      content: "\f105";
    }
  }

  & > .to_opposite::before {
    font-family: "fontawesome";
    content: "\f106";
    margin-right: 0.5rem;
    @include breakpoints.landscape_tablet {
      padding: 0rem 0.5rem;
      content: "\f104";
    }
  }
}
