@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin section_global {
  color: var(--lightGray);
  overflow: hidden;
  position: relative;
  padding: 1rem;
  background: var(--glassyBlue);
  box-shadow: 0 8px 32px 0 var(--mediumBlue);
  border-radius: 10px;
  border: 1px solid var(--gray);
}

@mixin grid_forecastOverview {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "overviewCity forecastCity"
    "overviewForecast forecastCity";
}

@mixin section_container_small {
  @include flex_column;
  @include section_global;
}

@mixin section_container_tablet {
  @include grid_forecastOverview;
  @include section_global;
}

@mixin xOverflow() {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grayBlue);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--deepBlue);
  }
}
