<!--Flex container of all days (scrollable x axis)-->
<div class="week_forecast">
  <!--Card for each days-->
  <div class="week_card_container">
    <div class="week_card" *ngFor="let dayCity of fullCity.daily">
      <h5>{{ dayCity.dt | date: "EEE" }}</h5>
      <!--<i class="wi wi-night-sleet"></i>-->
      <img src="assets/{{ dayCity.weather[0].icon }}.svg" />
      <p>
        <span class="lowest_temperature"
          >{{ dayCity.temp.min | number: "1.0-0"
          }}{{ fullCity.metadata.weather_temperature_unit }}</span
        >
        /
        <span class="highest_temperature"
          >{{ dayCity.temp.max | number: "1.0-0"
          }}{{ fullCity.metadata.weather_temperature_unit }}</span
        >
      </p>
    </div>
  </div>
  <!--On click display more information-->
  <div>Info more</div>
  <!--Information are taken from -->
</div>
