@import "/src/styles.scss";

.week_forecast {
  @include flex_column();
  position: relative;
  width: 90%;
  @include xOverflow();

  & > .week_card_container {
    display: grid;
    grid-template-columns: repeat(8, minmax(200px, 250px));

    & > .week_card {
      display: flex;
      width: 100px;
    }
  }
}
