@use "/src/styles/mixins";
@use "/src/styles/breakpoints";

.section__container {
  @include mixins.section_container_small();
  transition: all 0.2s cubic-bezier(1, 0, 0.58, 1);
  @include mixins.xOverflow();

  @include breakpoints.landscape_tablet {
    @include mixins.section_container_tablet();
    @include mixins.grid_forecastOverview();
  }

  & > .weather_overview {
    @include mixins.flex_row();
    justify-content: space-between;
    & > .current_country_data {
      @include mixins.flex_column();
      flex: 1;

      & > .country_container {
        @include mixins.flex_row();

        & > .country_info_container {
          @include mixins.flex_column();
          gap: 0.3rem;
          & > .country_name {
            font-size: 2.5rem;
            font-weight: 600;
            padding-inline-end: 0.3em;
            margin: unset;
          }

          & > .country_lonlat_container {
            display: flex;
            gap: 0.5em;
            margin-block-end: 0.5rem;
            margin-block-start: 0.5rem;
          }
        }
        & > .icon_container {
          display: none;
          @include breakpoints.portrait_phone {
            @include mixins.flex_column();
          }
          gap: 0.3em;
          margin-left: auto;
          align-items: center;
          & > .weather_data {
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }

      & > .weather_date_container {
        @include mixins.flex_row();
      }

      & > .current_country_temperature_container {
        @include mixins.flex_column();
        justify-content: center;
        margin-block-start: 1rem;
        & > .weather_degree_container {
          @include mixins.flex_column();
          align-items: center;

          & > .weather_degree {
            font-size: 4rem;
            font-weight: 400;
            margin: unset;
          }

          & > .weather_data {
            font-size: 1.1rem;
            font-weight: 600;
          }

          & > .weather_temperature_boundary {
            font-size: 1.2rem;
          }
        }

        & > .light_meteorology_data_container {
          @include mixins.flex_row();
          justify-content: center;
          gap: 1em;
          font-size: 1.5rem;
          margin-block-start: 1rem;
          margin-block-end: 1rem;
          align-items: center;
          & > .icon_container {
            @include mixins.flex_column();
            gap: 0.3em;
            align-items: center;
            & > .weather_data {
              font-size: 1rem;
              font-weight: 500;
            }
          }
        }
      }
    }

    @include breakpoints.landscape_tablet {
      grid-area: overviewCity;
    }
  }

  & > .city_forecast_container {
    @include mixins.flex_column();
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    background: var(--blackyBlue);
    backdrop-filter: blur(11px) saturate(120%);
    -webkit-backdrop-filter: blur(11px) saturate(120%);
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    & > .forecast_list_container {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      gap: 0.3rem;
      & > .forecast_day_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > i {
          font-size: 2rem;
          margin: 0.5rem;
        }

        & h5,
        p {
          margin: unset;
        }
      }
    }

    @include breakpoints.landscape_tablet {
      grid-area: overviewForecast;
    }
  }

  & > .daily_details_container {
    &.details-display {
      display: flex;
      width: 100%;
    }

    &.details-hide {
      display: none;
      width: 0;
    }
    margin-block-start: 1rem;
    margin-inline-start: 0rem;
    border-left: none;
    border-top: 1px solid var(--darkNavy);

    @include breakpoints.landscape_tablet {
      grid-area: forecastCity;
      margin-inline-start: 1rem;
      margin-block-start: 0rem;
      border-left: 1px solid var(--darkNavy);
      border-top: none;
    }
  }

  & > .toggler_details {
    position: absolute;
    bottom: 0rem;
    right: 0;
    width: 100%;
    text-align: center;
    transition: all 300ms ease-in-out;
    background: var(--gradientBlueGray);
    &:hover {
      background: rgb(1, 12, 41);
      color: var(--cyan);
      cursor: pointer;
    }

    @include breakpoints.landscape_tablet {
      width: auto;
      top: 0rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  & > .to_forward::before {
    font-family: "fontawesome";
    content: "\f107";
    margin-right: 0.5rem;
    @include breakpoints.landscape_tablet {
      padding: 0rem 0.5rem;
      content: "\f105";
    }
  }

  & > .to_opposite::before {
    font-family: "fontawesome";
    content: "\f106";
    margin-right: 0.5rem;
    @include breakpoints.landscape_tablet {
      padding: 0rem 0.5rem;
      content: "\f104";
    }
  }

  & > .daily_details_container {
    @include mixins.flex_column();

    margin-block-end: 0.5rem;
  }
}
