@import "/src/styles.scss";

@mixin section_container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  background: rgb(11 21 64 / 88%);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 67%);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.section__container {
  grid-area: forecastOverviewSummary;
  @include section_container();

  & .weather__container {
    display: flex;
    flex-direction: column;

    & .title__container {
      width: 100%;
      & > .city__info {
        display: flex;
        & > h2 {
          font-size: 2.5rem;
          font-weight: 400;
          padding-inline-end: 0.3em;
          margin: unset;
        }
      }

      & > .weather__icon {
        display: flex;
        font-size: 2rem;
        margin-top: 1rem;
        justify-content: space-between;
        width: 100%;
        & > .icon_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          & > i {
            margin-bottom: 5px;
          }
        }
        & > .weather__status {
          font-size: 1.6rem;
          margin-left: 0.5rem;
          font-weight: 400;
        }
      }

      & > .weather__date {
        margin: 0.5rem;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    & > .weather__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0.4em;
      & > .weather_degree {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > h2 {
          font-size: 4rem;
          font-weight: 400;
          margin: unset;
          & > span {
            font-size: unset;
          }
        }
      }

      & > p {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        white-space: nowrap;
        & > .temperature__limiter {
          display: none;
        }
      }
    }

    @include landscape_phone {
      flex-direction: row;
      justify-content: space-between;
      & > .title__container {
        width: 100%;
        & > .weather__icon {
          width: 90%;
        }
      }
      & > .weather__info {
        flex-direction: column;
        align-items: flex-end;

        & > p {
          display: block;
          & > .temperature__limiter {
            display: inline;
          }
        }
      }
    }

    @include portrait_tablet {
      & > .title__container {
        width: 70%;
        & > .weather__icon {
          width: 90%;
        }
      }
    }
  }
  & .weather__details__container {
    margin-top: 1rem;

    & .forecast {
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > i {
          font-size: 2rem;
          margin: 0.5rem;
        }

        & h5,
        p {
          margin: unset;
        }
      }
    }
  }

  & .toggler__details {
    position: absolute;
    bottom: 0rem;
    right: 0;
    width: 100%;
    text-align: center;
    transition: all 300ms ease-in-out;
    background: linear-gradient(0deg, #30303061 0%, rgba(1, 12, 41, 0.29));
    &:hover {
      background: rgb(1, 12, 41);
      color: var(--cyan);
      cursor: pointer;
    }

    @include small_desktop {
      width: auto;
      top: 0rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  & .to__forward::before {
    font-family: "fontawesome";
    content: "\f107";
    margin-right: 0.5rem;
    @include small_desktop {
      padding: 0rem 0.5rem;
      content: "\f105";
    }
  }

  & .to__opposite::before {
    font-family: "fontawesome";
    content: "\f106";
    margin-right: 0.5rem;
    @include small_desktop {
      padding: 0rem 0.5rem;
      content: "\f104";
    }
  }
}

.section__container__details {
  grid-area: forecastOverviewDetail;

  @include section_container();

  display: none;
  margin-top: -10px;
  z-index: -1;
  border-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  @include small_desktop {
    margin-top: 50px;
    margin-left: -10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  transition: display 2s linear;

  &.section__container__details-display {
    display: flex;
  }

  &.section__container__details-hide {
    display: none;
  }

  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(215deg 29% 16%);
    border: 3px solid hsl(215deg 68% 8%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: hsl(215deg 68% 8%);
  }

  & .details__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .description__container {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      & .description__icon {
        font-size: 1.6rem;
        margin-inline-end: 1rem;
      }

      & .description__text {
        & > p {
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
    }

    & .alert__container {
      margin-block-end: 1rem;
      margin-block-start: 1rem;
      font-style: italic;
      display: flex;
      justify-content: center;
    }

    & .details__data {
      font-size: 1.2rem;
      & .details__list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
        border-bottom: 1px solid gray;
        & > li {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          margin-inline-end: 1rem;
        }
      }
    }

    & .details__temperatures {
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      text-align: center;
      border-collapse: collapse;
      & > tbody > tr {
        vertical-align: middle;
        border-bottom: 1pt solid gray;
        & > .title__body {
          font-weight: 300;
          color: lightgray;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }

    & .details__sun {
      display: flex;
      align-items: center;
      & .sunrise,
      .sunset {
        display: flex;
        flex-direction: column;
        margin-inline-end: 1rem;
        align-items: center;
        & > span:first-child {
          color: lightgray;
          text-transform: uppercase;
          font-size: 80%;
        }
      }
    }
  }
}
