@import "/src/styles.scss";

.section__container {
  @include section_container_small();
  transition: all 0.8s cubic-bezier(1, 0, 0.58, 1);
  @include xOverflow();

  @include landscape_tablet {
    @include section_container_tablet();
  }

  & > .weather_overview {
    @include flex_row();
    justify-content: space-between;
    & > .current_country_data {
      @include flex_column();
      flex: 1;

      & > .country_container {
        @include flex_row();

        & > .country_name {
          font-size: 2.5rem;
          font-weight: 400;
          padding-inline-end: 0.3em;
          margin: unset;
        }
      }

      & > .weather_date_container {
        @include flex_row();
      }

      & > .light_meteorology_data_container {
        @include flex_row();
        justify-content: flex-start;
        gap: 1em;
        font-size: 2rem;
        margin-block-start: 1rem;
        & > .icon_container {
          @include flex_column();
          gap: 0.3em;
          align-items: center;
          & > .weather_data {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
    }

    & > .current_country_temperature_container {
      @include flex_column();
      justify-content: flex-start;

      & > .weather_degree_container {
        @include flex_column();
        align-items: flex-end;

        & > .weather_degree {
          font-size: 4rem;
          font-weight: 400;
          margin: unset;
        }

        & > .weather_temperature_boundary {
          font-size: 1.2rem;
        }
      }
    }

    @include landscape_tablet {
      grid-area: overviewCity;
    }
  }

  & > .city_forecast_container {
    @include flex_column();
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    & > .forecast_list_container {
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      & > .forecast_day_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > i {
          font-size: 2rem;
          margin: 0.5rem;
        }

        & h5,
        p {
          margin: unset;
        }
      }
    }

    @include landscape_tablet {
      grid-area: overviewForecast;
    }
  }

  & > .daily_details_container {
    &.details-display {
      display: flex;
      width: 100%;
    }

    &.details-hide {
      display: none;
      width: 0;
    }
    margin-block-start: 1rem;
    margin-inline-start: 0rem;
    border-left: none;
    border-top: 1px solid var(--darkNavy);

    @include landscape_tablet {
      grid-area: forecastCity;
      margin-inline-start: 1rem;
      margin-block-start: 0rem;
      border-left: 1px solid var(--darkNavy);
      border-top: none;
    }
  }

  & > .toggler_details {
    position: absolute;
    bottom: 0rem;
    right: 0;
    width: 100%;
    text-align: center;
    transition: all 300ms ease-in-out;
    background: linear-gradient(0deg, #30303061 0%, rgba(1, 12, 41, 0.29));
    &:hover {
      background: rgb(1, 12, 41);
      color: var(--cyan);
      cursor: pointer;
    }

    @include landscape_tablet {
      width: auto;
      top: 0rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  & > .to_forward::before {
    font-family: "fontawesome";
    content: "\f107";
    margin-right: 0.5rem;
    @include landscape_tablet {
      padding: 0rem 0.5rem;
      content: "\f105";
    }
  }

  & > .to_opposite::before {
    font-family: "fontawesome";
    content: "\f106";
    margin-right: 0.5rem;
    @include landscape_tablet {
      padding: 0rem 0.5rem;
      content: "\f104";
    }
  }

  & > .daily_details_container {
    @include flex_column();

    margin-block-end: 0.5rem;
  }
}
