@import "/src/styles.scss";

app-weather-search {
  @include flex_column();
  justify-content: center;
  margin: 1rem;
}

app-forecast-overview {
  display: grid;
  margin: 1rem;
  grid-template-columns: 90vw;
  grid-template-rows: 1fr;
  max-width: 90vw;

  @include landscape_tablet {
    place-items: start;
  }
}
