@import "/src/styles.scss";

.form_container {
  @include flex_row();
  gap: 1rem;
  margin-block-end: 1rem;

  & > form {
    @include flex_column();
    @include landscape_phone {
      @include flex_row();
    }

    gap: 1rem;
    & .input_fields_container {
      display: flex;
      gap: 1rem;

      & .input {
        position: relative;

        &_info_error {
          color: var(--crimson);
          font-weight: 600;
        }

        &_label {
          position: absolute;
          left: 0;
          top: 0;
          padding: 0.6rem 0.5rem;
          margin: 0.5rem 0.25rem;
          white-space: nowrap;
          transform: translate(0, 0);
          transform-origin: 0 0;
          color: white;
          transition: transform 120ms ease-in;
          font-weight: bold;
          line-height: 1.2;
        }

        &_field {
          box-sizing: border-box;
          display: block;
          width: 100%;
          border: 1px solid var(--darkNavy);
          padding: 0.75rem 0.5rem;
          color: var(--darkNavy);
          background: transparent;
          border-radius: 0.5rem;
          background: rgb(11 21 64 / 88%);
          &:focus,
          &:not(:placeholder-shown) {
            & + .input_label {
              transform: translate(0.1rem, -64%) scale(0.9);
              color: var(--cyan);
            }
            color: var(--lightGray);
          }
        }

        &_valid {
          border: 1px solid var(--green);
          & + .input_label {
            color: var(--green) !important;
          }
        }

        &_invalid {
          border: 1px solid var(--crimson);
          & + .input_label {
            color: var(--crimson) !important;
          }
        }
      }
    }
    & .button_form {
      padding-inline-end: 1rem;
      padding-inline-start: 1rem;
      background: rgb(9 22 56);
      border: 2px solid #080716;
      outline: none;
      border-radius: 5px;
      color: var(--cyan);
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      display: flex;
      max-width: 100px;
      height: 30px;
      justify-content: center;
      align-items: center;

      &:hover {
        background: hsl(224deg 65% 15% / 88%);
      }
    }
  }
}
